<p id="notice"><%= notice %></p>

<h1>Dogs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Colour</th>
      <th>Date of birth</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= dog.colour %></td>
        <td><%= dog.date_of_birth %></td>
        <td><%= dog.owner.name %></td>
        <td><%= link_to 'Show', [@owner, dog] %></td>
        <td><%= link_to 'Edit', edit_owner_dog_path(@owner, dog) %></td>
        <td><%= link_to 'Destroy', [@owner, dog], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_owner_dog_path(@owner) %>
